:root {
  --red-high: #ffeae5;
  --green-high: #efffea;
  --secondary-blue-soft: #36a6f6;
  --others-yellow: #ffca37;
  --others-red: #d64a2e;
  --others-green: #51cf24;
  --neutral-white: #fff;
  --neutral-black-low: #222;
  --neutral-black-medium: #3d3d3d;
  --neutral-black-high: #525252;
  --neutral-gray-low: #666;
  --neutral-gray-medium: #999;
  --neutral-gray-high: #ccc;
  --neutral-gray-high-2: #e6e6e6;
  --neutral-gray-soft: #f2f2f2;
  --tertiary-tertiary-green-low: #84a07c;
  --tertiary-tertiary-green-medium: #a3c399;
  --tertiary-tertiary-green-high: #c2e7b7;
  --tertiary-tertiary-green-high-2: #d1f9c5;
  --secondary-secondary-blue-low: #1c448e;
  --secondary-secondary-blue-medium: #2558b5;
  --secondary-secondary-blue-high: #2e6bd9;
  --secondary-secondary-blue-high-2: #3273ea;
  --primary-primary-blue-low: #201e50;
  --primary-primary-blue-medium: #343181;
  --primary-primary-blue-high: #4642ab;
  --primary-primary-blue-high-2: #514dc3;
}

:root {
  /*FONT SIZE TITLES*/
  --font-size-h1: 48px;
  --font-size-h2: 36px;
  --font-size-h3: 28px;
  --font-size-h4: 24px;
  --font-size-h5: 20px;
  /*FONT SIZE LETTERS*/
  --font-size-1: 24px;
  --font-size-2: 20px;
  --font-size-3: 18px;
  --font-size-4: 16px;
  --font-size-5: 14px;
  /*FONT SIZE BUTTONS*/
  --font-size-button-1: 24px;
  --font-size-button-2: 20px;
  --font-size-button-3: 18px; 
  --font-size-button-4: 14px;
  --font-size-button-5: 12px;
}

.response {
  opacity: 0;
  color: var(--neutral-white);
  text-align: center;
  margin-bottom: 2rem;
  font-size: 25px;
}

.error {
  color: var(--others-red);
}

.success {
  color: var(--others-green);
}

#app {
  height: 100vh;
  position: relative;
}

.font-size-1 {
  font-size: var(--font-size-1);
}
.font-size-2 {
  font-size: var(--font-size-2);
}
.font-size-3 {
  font-size: var(--font-size-3);
}
.font-size-4 {
  font-size: var(--font-size-4);
}
.font-size-5 {
  font-size: var(--font-size-5);
}

.link {
  text-decoration: none;
  color: var(--neutral-white);
}

.btn {
  font-weight: bold;
  padding: 13px 10px;
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: var(--neutral-gray-soft);
  cursor: pointer;
  transition: all 0.4s;
}

  .btn:hover {
    background: var(--neutral-gray-high);
  }

.btn-1 {
  font-size: var(--font-size-button-1);
}
.btn-2 {
  font-size: var(--font-size-button-2);
}
.btn-3 {
  font-size: var(--font-size-button-3);
}
.btn-4 {
  font-size: var(--font-size-button-4);
}
.btn-5 {
  font-size: var(--font-size-button-5);
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}
h1 {
  font-size: var(--font-size-h1);
}
h2 {
  font-size: var(--font-size-h2);
}
h3 {
  font-size: var(--font-size-h3);
}
h4 {
  font-size: var(--font-size-h4);
}
h5 {
  font-size: var(--font-size-h5);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Ubuntu, 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--primary-primary-blue-low);
}

.app-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.app-logo .icon {
  width: 60px;
}

.app-logo .letter {
  width: 250px;
  margin-top: 2rem;
}

input, textarea, select {
  padding: 13px 10px;
  border-radius: 10px;
  border: none;
  font-size: var(--font-size-3);
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 15px;
}

.input-group label {
  font-size: var(--font-size-2);
}
